<main class="main">
    <div class="hero-block">
        <div class="hero">
            <section class="hero__header">
                <h1>speakers</h1>
            </section>
        </div>
    </div>
    <div class="content-block">
        <div class="content content--padding">
            <div class="content__products">
                <div class="content__product content__product--headphones">
                    <section class="content__product-section">
                        <img src="<%= g560.coverPath %>" alt="">
                    </section>
                    <aside class="content__product-aside">
                        <h5>new product</h5>
                        <h1>
                            <%= g560.name %>
                        </h1>
                        <p>
                            <%= g560.preview %>
                        </p>
                        <a href="/product/<%= g560.id %>">see product</a>
                    </aside>
                </div>
                <div class="content__product content__product--reverse">
                    <section class="content__product-section">
                        <img src="<%= z211.coverPath %>" alt="">
                    </section>
                    <aside class="content__product-aside">
                        <h5>new product</h5>
                        <h1>
                            <%= z211.name %>
                        </h1>
                        <p>
                            <%= z211.preview %>
                        </p>
                        <a href="/product/<%= z211.id %>">see product</a>
                    </aside>
                </div>
                <div class="content__product">
                    <section class="content__product-section">
                        <img src="<%= z407.coverPath %>" alt="">
                    </section>
                    <aside class="content__product-aside">
                        <h5>new product</h5>
                        <h1>
                            <%= z407.name %>
                        </h1>
                        <p>
                            <%= z407.preview %>
                        </p>
                        <a href="/product/<%= z407.id %>">see product</a>
                    </aside>
                </div>
                <div class="content__link-block">
                    <a class="content__link-ver-todo" href="/search?type=speakers">ver todos</a>
                </div>
            </div>
            <nav class="mob-nav-bar mob-nav-bar--desktop mob-nav-bar--margin">
                <ul class="mob-nav-bar__list">
                    <li class="mob-nav-bar__item">
                        <a href="/headphones" class="mob-nav-bar__link">
                            <img src="../../public/dist/images/mob-nav-bar/image-headphones.png" alt="">
                            <section class="mob-nav-bar__link-section">
                                <h3>
                                    headphones
                                </h3>
                                <span>shop <i class="fa-solid fa-angle-right"></i></span>
                            </section>
                        </a>
                    </li>
                    <li class="mob-nav-bar__item">
                        <a href="/speakers" class="mob-nav-bar__link">
                            <img src="../../public/dist/images/mob-nav-bar/image-speakers.png" alt="">
                            <section class="mob-nav-bar__link-section">
                                <h3>
                                    speakers
                                </h3>
                                <span>shop <i class="fa-solid fa-angle-right"></i></span>
                            </section>
                        </a>
                    </li>
                    <li class="mob-nav-bar__item">
                        <a href="/earphones" class="mob-nav-bar__link">
                            <img src="../../public/dist/images/mob-nav-bar/image-earphones.png" alt="">
                            <section class="mob-nav-bar__link-section">
                                <h3>
                                    earphones
                                </h3>
                                <span>shop <i class="fa-solid fa-angle-right"></i></span>
                            </section>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="bringing">
                <section class="bringing__section">
                    <h1>BRINGING YOU THE <span>BEST</span> AUDIO GEAR</h1>
                    <p>
                        Located at the heart of New York City, Audiophile is the premier store for high end headphones,
                        earphones,
                        speakers, and audio accessories. We have a large showroom and luxury demonstration rooms
                        available for you
                        to browse and experience a wide range of our products. Stop by our store to meet some of the
                        fantastic
                        people who make Audiophile the best place to buy your portable audio equipment.
                    </p>
                </section>
                <aside class="bringing__aside">
                    <img class="bringing__aside-img" src="../public/dist/images/home/dude.jpg" alt="">
                    <img class="bringing__aside-img bringing__aside-img--mob-1"
                        src="../public/dist/images/home/dude-mob-1.jpg" alt="">
                    <img class="bringing__aside-img bringing__aside-img--mob-2"
                        src="../public/dist/images/home/dude-mob-2.jpg" alt="">
                </aside>
            </div>
        </div>
    </div>
</main>