<% products.forEach(product=>{%>
    <span><%=product.name%></span>
    <span><%=product.type%></span>
    <img src="<%=product.coverPath%>" alt="">
    <img src="<%=product.imagePath%>" alt="">
    <img src="<%=product.image1Path%>" alt="">
    <img src="<%=product.image2Path%>" alt="">
<% }) %> 




