<form action="/products" method="POST">
    <h1>Add New Products</h1>
     <%- include('../partials/errorMsg.ejs') %> 
    <label for="">Name</label>
    <input type="text" name="name" value="<%=product.name%>">
    <label for="price">Price</label>
    <input type="number" name="price" value="<%=product.price%>">
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" min="1" value="<%=product.quantity%>">
    <label for="date">Date</label>
    <input type="date" name="date" value="">
    <select name="type" id="">
        <option value="headphones">Headphones</option>
        <option value="speakers">Speakers</option>
        <option value="earphones">Earphones</option>
    </select>
    <label for="">preview</label>
    <textarea name="preview" id="" cols="30" rows="10"></textarea>
    <label for="">description</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <label for="cover">Cover</label>
    <input type="file" name="cover" class="filepond" id="">
    <label for="cover">image</label>
    <input type="file" name="image" class="filepond" id="">
    <label for="cover">image1</label>
    <input type="file" name="image1" class="filepond" id="">
    <label for="cover">image2</label>
    <input type="file" name="image2" class="filepond" id="">
    <label for="brands">Brands</label>
    <select name="brand" id="">
        <%brands.forEach(brand=>{%>
            <% if(brand.name!==null){%>
                <option value="<%= brand.id %>"><%= brand.name %></option>
            <%}%>  
        <%}) %> 
    </select>
    <button type="submit">add</button>
</form>